/*
  Typography
    Headers : font-family: 'Fjalla One', sans-serif;
    Body : font-family: 'Open Sans', sans-serif;
*/

html,
body,
button,
input,
select {
  color: #292929;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;

  color: #292929;
}

h1 {
  font-size: 3em;
  margin: 1em 0;
}

h2 {
  font-size: 2em;
  margin: .75em 0;
}

h3 {
  font-size: 1em;
  margin: .5em 0;
}

p {
  line-height: 1.5em;
  margin: .5em 0;
}