$brand-01: #014494;
$brand-02: #00224a;
$brand-03: #309303;
$brand-04: #2e9403;
$brand-05: #2ba6cb;

$chart-01: green;
$chart-02: orange;
$chart-03: red;
$chart-04: #159deb50;
$chart-05: rgb(255 0 4 / 50%);

$ui-gray-01: #D8D8D8;
$ui-gray-02: #c2c1c1;
$ui-gray-03: #787878;
$ui-gray-04: #E8EDEF;

$ui-blue-01: aliceblue;
$ui-highlight-yellow: #FFEF9A;

$ui-warning-required:red;

$type-body: #292929;
$type-body-disabled: #585858;
$type-body-light: #585858;
$type-highlight: #95F5FF;