.flex-grid {
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { width: 50%; }
  margin: 0 auto;
  padding: 1em;
}

.flex-grid,
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-2col {
  justify-content: space-between;
  display: flex;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-self-baseline {
  align-self: baseline;
}

.col-self-center {
  align-self: center;
}

.col-contents-right {
  text-align: end;
  min-width: 190px;
}

/* Spacing helpers */

.mb-0 {
  margin-bottom: 0;
}

.mb-small {
  margin-bottom: .5em;
}

.mb-1 {
  margin-bottom: 1em;
}

footer.flex-grid {
  margin-top: 1em;
  flex-flow: column;
  align-items: end;
}

/* Alignment helpers */
.text-center {
  text-align: center;
}

/* Misc */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}