@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@300;400;700&display=swap);

@import 'reset.scss';
@import 'colors.scss';
@import 'typography.scss';
@import 'grid.scss';
@import 'buttons.scss';
@import 'inputs.scss';
@import 'modals.scss';

/* Workflow helpers */
.question-box.display-none {
  display: none;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-one input {
  width: 144px;
  text-align: center;
}

/* Weight validation */
#weight:invalid {
  border-color: red;
}

/* Spacing helpers */
.y-1 {
  margin-bottom: 0.5em;
}

.y-3 {
margin-bottom: 1.25em;
}

/* Misc */
.highlight {
  background-color: #FFEF9A;
  font-weight: bold;
  color: #00224a;
}

/* Fish selector */

#filterFish {
  background-image: url('/icons/search-solid.svg');
  background-repeat: no-repeat;
  background-position: 16px 10px;
  padding-left: 54px;
  background-size: 24px;
  margin-bottom: -3px;
  width: 100%;
  z-index: 1;
}

.list-wrapper {
  max-height: 31vh;
  border: 3px solid #d8d8d8;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
}

#fishList {
  width: 100%;

  tr {
    height: 32px;

    &:hover {
      background-color: aliceblue;
      cursor: pointer;
    }
  }

  .header-fishlist {
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;

    th {
      vertical-align: bottom;
      padding: .25em 1em .25em 0;

      &:nth-child(3) {
        text-align: right;
      }

      &.asc {
        &:after { content: '\25B2'; }
      }

      &.dsc {
        &:after { content: '\25BC'; }
      }
    }

  }

  input {
    margin: .25em 1em;
  }

  label
  {
    display: block;
    padding: .25em 1em .25em 0;

    &.mercury-exposure {
      text-align: right;
    }
  }

}

.selected-fish {
  width: 100%;

  li {
    justify-content: space-between;
    display: flex;
  }
}


/* Cards */
.card {
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px #787878;
  margin-top: 1.5em;
  padding: 1.5em 2em;

  h3, h4 {
    text-align: left;
  }

  .message {
    display: flex;
    margin: 0 auto 1em;

    p:first-child {
      margin-top: 0;
    }

    .message-content {
      width: 100%;
    }

    .message-main {
      font-size: 1.25em;
    }

  }

  .message:first-child {
    margin-top: 0;
  }

  .message:last-child {
    margin-bottom: 0;
  }

}

#fishResults .card:first-child {
  margin-top: 0;
}

.close {
  //background-image: url('/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 1em;

    &:hover {
      background-color: #c2c1c1;
    }
}

.icon {

  flex: 0 0 40px;
  width: 40px;
  height: 40px;

  background-position: 9px;
  background-repeat: no-repeat;
  background-size: 24px;

  border-radius: 40px;
  border: thin solid black;

  margin-right: 1em;

  &.toxin {
    background-image: url(/icons/toxin.svg);
  }

  &.microplastics {
    background-image: url(/icons/microplastics.svg);
  }

  &.bycatch {
    background-image: url(/icons/bycatch.svg);
  }

}

.mercury-level-wrapper {
  width: 100%;
  border: thin solid gray;
  height: 7px;
  border-radius: 7px;

  /* The animation code */
  @keyframes width {
    from {width: 0%;}
    to {width: 25%;}
  }

  .mercury-level-percent {
    background-color: #309303;
    animation-name: example;
    animation-duration: 4s;
    height: 100%;
  }

}

#chart {
  background-image: url('/icons/human.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
  width: 100%;
}

.apexcharts-canvas {
  margin:0 auto;
}