/*
  Typography
    Headers : font-family: 'Fjalla One', sans-serif;
    Body : font-family: 'Open Sans', sans-serif;
*/

html,
body,
button,
input,
select {
  color: #292929;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  letter-spacing: 0.015em;
  color: #292929;
}

h1 {
  font-size: 3em;
  margin: 1em 0 .5em 0;
}

h2 {
  font-size: 2em;
  margin: .75em 0;
  line-height: 1.25em;

  &.subheader {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    margin-top: -.25em;
    margin-bottom: 1.5em;
    color: gray;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1.25em;
}

p, label, li {
  line-height: 1.5em;
}

p {
  margin: .5em 0;
}

body a {
  color: #014494;
  text-decoration: none;
  transition: color 0.2s;
  transition: text-decoration 0.2s;

  &:hover, &:focus {
    text-decoration:underline;
    color:$brand-05;
  }
}

strong {
  font-weight: bold;
}

.font-small {
  font-size: .8em;
}

.list {
  list-style-type: disc;
  margin-bottom: 2em;
  li {
    margin-left: 2em;
  }
}

.note {
  margin: 1em 0;
  color: $type-body-light;
}