/* Buttons and Button Groups */
.btn {
  font-weight: bold;
  text-align: center;
  transition: background-color .5s;
  cursor: pointer;
}

.btn-primary, .btn-secondary {
  color: #ffffff;
  width: 75%;
  max-width: 500px;
  padding: 1em 2em;
  margin: 1em 0;
  text-decoration: none;
  font-size: 1.125em;
  border: none;

  border-radius: 6px;
}

.btn-primary {
  background-color: $brand-05;


  &:hover {
    background-color: $brand-01;
  }

  &:disabled {
    background-color: $ui-gray-03;
    cursor: not-allowed;
  }

}

.btn-secondary {

  background-color: $brand-01;


  &:hover {
    background-color: $brand-02;
    transition: 0.3s;
  }
}

.btn-primary + .btn-secondary,
.btn-secondary + .btn-secondary
 {
  margin-top: 0;
}

.btn-bar {
  width: 90%;
  // padding: 0 1.5em;
  margin: 0 auto 1em;
  display: flex;

  .btn {
        background-color: $brand-05;
        color: white;
        border: none;
        padding: 1em;
        margin: 0 .5em;
        font-size: 13px;
        flex-grow: 1;

    &:hover {
      background-color: $brand-02;
    }

    &:focus {
      outline: 4px solid $brand-05;
    }
  }
}

.btn-group {
  display: flex;

  .btn-group-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .btn {
    background-color: $ui-gray-01;
    color: $ui-gray-03;
    border-radius: 6px;
    padding: 14px 23px;
    cursor: pointer;
    transition: background-color .5s;

    &:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &:nth-child(2) {
      border-radius: 6px 0 0 6px;
    }
  }

  input[type="radio"] {

    &:focus + label {
      outline: 4px solid $brand-05;
    }

    &:checked + label {
      background-color: $brand-03;
      color: white;
    }

    &:not(:checked) + label:hover {
      background-color: $ui-gray-02;
    }

  }

  /* Add a background color on hover */
  button:hover {
    background-color: #3e8e41;
  }
}